<!doctype html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  
<title>Bookart Application</title>
<link rel="stylesheet" href="plug-Ins\bootstrap.min.css">
<link rel="stylesheet" href="css\app.css">

<script src="plug-Ins\angularjs1.5.0.js"></script>
<script src="plug-Ins\angular-route_1.5.0.js"></script>
<script src="plug-Ins\angular-animate_1.5.0.js"></script>

<script src="app.js"></script>
</head>

<body ng-app="myapp" class="bodyBG">
  
<div  ng-controller="HeaderCtrl" id="headerWrapper">
  
	<span class="logo pull-left">{{appDetails.title}}</span>
	<span class="tagline pull-left">{{appDetails.tagline}}</span>
	<div class="nav-wrapper pull-left">
		<ul class="nav nav-pills">
			<li ng-class="{active: isActive('/books')}"><a href="#/books">Book</a></li>
	         <li ng-class="{active: isActive('/kart')}"><a href="#/kart">Kart</a></li>
		</ul>
	</div>
	
</div>

<div ng-view class="container"></div>


<script type="text/ng-template" id="book-list.html">
<div id="bookListWrapper">
	<form role="form">
	  <div class="form-group">
		<input type="text" class="form-control" placeholder="Search here..." 
		ng-model="searchVal" />
	  </div>
	</form>
	<div>
	<ul class="list-unstyled">
		<li class="book" ng-repeat="book in books | filter : searchVal"
			style="background: white url('Images/{{book.imgUrl}}') no-repeat">
			<div class="book-details clearfix">
				<h3>{{book.name}}</h3>
				<p>{{book.price | currency:'Rs: '}}</p>
				<ul>
					<li>Rating: {{book.rating}}</li>
					<li>Binding: {{book.name | uppercase}}</li>
					<li>Publisher: {{book.publisher}}</li>
					<li>publishedDate: {{book.publishedDate}}</li>
				</ul>
				<p>{{book.details}}
				<button class="btn btn-info pull-right" ng-click="addToKart(book)">Add to Kart</button>
				</p>
			</div>
		</li>
	</ul>
</div>
</script>



<script type="text/ng-template" id="kart-view.html">

<div id="bookListWrapper">
	<br/>
	<p>Added book list from Book view</p>
	<div>
	<ul class="list-unstyled">
		<li class="book" ng-repeat="book in kart"
			style="background: white url('Images/{{book.imgUrl}}') no-repeat">
			<div class="book-details clearfix">
				<h3>{{book.name}}</h3>
				<p>{{book.price | currency:'Rs: '}}</p>
				<ul>
					<li>Rating: {{book.rating}}</li>
					<li>Binding: {{book.name | uppercase}}</li>
					<li>Publisher: {{book.publisher}}</li>
					<li>publishedDate: {{book.publishedDate}}</li>
				</ul>
				<p>{{book.details}}
				<button class="btn btn-info pull-right" ng-click="buy(book)">Buy</button>
				</p>
			</div>
		</li>
	</ul>
</div>
</script>


</body>


</html>

